<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200 h-screen flex justify-center items-center">

    <div class="bg-white p-8 rounded-lg shadow-md w-96">
        <h1 class="mb-4 text-xl font-semibold">Iniciar sesión</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-600" for="username">Nombre de usuario</label>
                <input class="mt-1 p-2 w-full rounded-md border" type="text" name="username" id="username" required>
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-600" for="password">Contraseña</label>
                <input class="mt-1 p-2 w-full rounded-md border" type="password" name="password" id="password" required>
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600">
                Iniciar sesión
            </button>
        </form>
    </div>

</body>
</html>
